!!!
%html
  %head
    %title Jasmine Spec Runner

    = stylesheet_link_tag "jasmine"
    = javascript_include_tag "mysugr-jasmine", :debug => Rails.env.development?

    = javascript_include_tag "spec", :debug => Rails.env.development?


  / include source files here...
  %body

