%html
  %head
    %title Jasmine Spec Runner
    = stylesheet_link_tag "jasmine"
    = javascript_include_tag "jasminerice", :debug => Rails.env.development?
    = javascript_include_tag "spec", :debug => Rails.env.development?
    = csrf_meta_tags
  %body
