.bundle
db/*.sqlite3
log/*.log
tmp/
.*.sw*
*.orig
.swp
public/system
*.*.BACKUP.*.lock
*.*.BASE.*.lock
*.*.REMOTE.*.lock
*.*.LOCAL.*.lock
.DS_Store
*.*.gz
Session.vim
err.txt
.sass-cache
public/stylesheets/*.css
.rvmrc
